---
const { tekst } = Astro.props;
---

<button>
  {tekst}
</button>
<style>
  button {
    background-color: var(--aksent);
    color: var(--bakgrunn);
    border: none;
    padding: 10px;
    text-transform: uppercase;
  }
  button:hover {
    background-color: var(--bakgrunn);
    color: var(--aksent);
    border: var(--aksent);
  }
</style>
