---

---

<article>
  <img src="../assets/logo.svg" alt="bilde" />
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta
    reprehenderit quasi, repellat dolorum doloribus aspernatur eum corporis
    consequuntur natus facilis?
  </p>
</article>
<style>
  p {
    color: var(--aksent);
  }
</style>
